*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}

:root {
  --danger: #ff0000;
  --green: rgb(10, 180, 10);
  --dark-green: rgb(6, 108, 6);
  --bg-color: #fff;
  --form-color: #bebebe;
  --font-color: #13173c;
  --loader-color: #13173c;
  --glass-color: #fdffe228;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--font-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a{
  color: var(--green);
  text-decoration: underline;
}
a:hover{
  color: var(--dark-green);
}

._glass {
  background: var(--glass-color);
  color: var(--font-color);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.8px);
  -webkit-backdrop-filter: blur(6.8px);
  border: 2px solid var(--font-color);
}

button{
  position: relative;
  border-radius: 0px;
  padding: 10px 40px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}
button .line {
  position: absolute;
  transition: all 0.3s ease 0s;
  background-color: var(--green);
}
button .line-top {
  top: -2px;
  left: -2px;
  width: 0%;
  height: 2px;
}
button .line-right {
  top: -2px;
  right: -2px;
  width: 2px;
  height: 0%;
}
button .line-bottom {
  bottom: -2px;
  right: -2px;
  width: 0%;
  height: 2px;
}
button .line-left {
  left: -2px;
  bottom: -2px;
  height: 0%;
  width: 2px;
}
button:hover {
  color: var(--green);
  box-shadow: 0px 0px 26px 12px var(--green-shadow);
}
button:hover .line-top {
  width: calc(100% + 2px);
}
button:hover .line-right {
  height: calc(100% + 2px);
}
button:hover .line-bottom {
  width: calc(100% + 2px);
}
button:hover .line-left {
  height: calc(100% + 2px);
}

.full-fixed-screen{
  width: 100%;
  height: 100%;
  position: fixed;
}

/*---LOADER---*/

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 4px solid var(--loader-color);
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s ease-in-out infinite;
}
.loader::after {
  border-color: var(--loader-color);
  animation-delay: 1s;
  opacity: 0;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/*---SERVER-STATUS---*/

.server-status{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position: fixed;
  top: 15px;
  right: 15px;
}
.server-status.on{
  background-color: var(--green);
}
.server-status.off{
  background-color: var(--danger);
}